:root {
  --main-color: #081746;
  --alpha-25: rgba(255, 255, 255, 0.1);
  --alpha-40: rgba(255, 255, 255, 0.5);
}
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
